<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ketayao.com</display-name>
  <filter>
    <filter-name>global</filter-name>
    <filter-class>com.ketayao.fensy.mvc.DispatcherFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>global</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SystemInitialize</servlet-name>
    <servlet-class>com.ketayao.system.SystemInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/www/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/www/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/www/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/www/403.jsp</location>
  </error-page>
</web-app>